# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod

# Compiled Static libraries
*.lai
*.la
*.a
#*.lib

# Executables
*.exe
*.out
*.app

# Log/err/wrn files
*.log
*.wrn
*.err

# VS stuff
*.opensdf
*.sdf
*.suo

# Output and object dirs
amd64rel
amd64dbg
unit_test/x64emudecode32/objfre_win7_amd64/
unit_test/x64emudecode64/objfre_win7_amd64/
unit_test/x64emuexec/objfre_win7_amd64/
x64emu/objfre_win7_amd64/
unit_test/x64emudecode32/objchk_win7_amd64/
unit_test/x64emudecode64/objchk_win7_amd64/
unit_test/x64emuexec/objchk_win7_amd64/
x64emu/objchk_win7_amd64/
sample/x64disasm/objchk_win7_amd64/amd64
sample/x64disasm/objfre_win7_amd64/amd64